
    <form>
        <textarea
          name="text"
          class="feedback-input"
          placeholder="Comment"
        ></textarea>
        <input type="submit" value="SUBMIT" />
      </form>

    {{! comment }}
    <h1 style="color: red;">Add a comment about the song!:</h1>
    <div id="user-Id-container" style="display:none">
        <h2>User Id:</h2>
        <h2 id="user-Id">{{userId}}</h2>
    </div>
    <textarea
        name="comment"
        class="rounded"
        id="comment-box"
        cols="50"
        rows="8"
    ></textarea>
    <button id="add-track-comment">Add Comment</button>

    {{#if comments}}
        <h1>Comment Section:</h1>
        <div
            class="container justify-content-center mt-5 border-left border-right"
        >
            {{#each comments}}
                <div class="d-flex justify-content-center py-2" id="{{id}}">
                    <div class="second py-2 px-2">
                        <span class="text1">{{body}}</span>
                        <div class="d-flex justify-content-between py-1 pt-2">
                            <div><img
                                    src="https://i.imgur.com/AgAC1Is.jpg"
                                    width="18"
                                /><span class="text2">{{"user.firstname"}}
                                    {{"user.lastname"}}</span><span
                                    class="text2"
                                >@{{"user.username"}}</span></div>
                            <div><span class="text3">Upvote?</span><span
                                    class="thumbup"
                                ><i class="fa fa-thumbs-o-up"></i></span><span
                                    class="text4"
                                >3</span></div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}

    <link rel="stylesheet" href="/css/comment.css" />
<script src="/js/add-comment-page.js"></script>