<form>
    <textarea
        name="text"
        class="feedback-input"
        placeholder="Comment (Limited to 250 Characters)"
        id="comment-box"
    ></textarea>
    <div id="add-{{type}}-comment" class="h-fit" type="submit">ADD COMMENT</div>
</form>

{{#if comments}}
    <h1 style="padding-top: 15%; color: white">Comment Section:</h1>
    <div
        class="container justify-content-center mt-5 border-left border-right mb-5"
    >
        {{#each comments}}
            <div class="d-flex w-100 justify-content-center py-2" id="{{id}}">
                <div class="second py-2 px-2">
                    <span class="text1">{{body}}</span>
                    <div class="d-flex justify-content-between py-1 pt-2"> 
                        <div><img 
                                src="https://i.guim.co.uk/img/media/b50fce564346d5fd77a656c6f8dbebddd005c1d8/0_153_7242_4345/master/7242.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=161ed36ba500b40c706ba35e289a1554"
                                width="50"
                                height="50"
                                class="rounded-circle"
                            /><span class="text2">{{"User.firstname"}}
                                {{"User.lastname"}}</span><span
                                class="text2"
                            >@{{"User.username"}}</span></div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}

<link rel="stylesheet" href="/css/comment.css" />