{{!-- <div id="post-id" style="display:none;">{{singlePostData.id}}</div>
<div id="user-id" style="display:none;">{{singlePostData.User.id}}</div>
<br />
Post title:
{{singlePostData.title}}
<br />
Post Content:
{{singlePostData.body}}
<br />
Posted By:
{{singlePostData.User.username}}
<br />
On:
{{format_date singlePostData.createdAt}}
<br />
Comment:
<textarea name="comment" id="comment-box" cols="30" rows="10"></textarea>
<button id="add-comment">Add Comment</button>

<br />
{{#if filteredPostComments}}
    <br />
    Comments:
    {{#each filteredPostComments}}
        <br />
        <br />
        {{id}}
        <br />
        {{body}}
        <br />
        {{createdAt}}
        <br />
        {{updatedAt}}
        <br />
        {{postId}}
        <br />
        {{userId}}
    {{/each}}
    <br />
{{/if}} --}}

<script src="/js/add-comment-page.js"></script>