<link rel="stylesheet" href="/css/homepage.css" />
<link rel="stylesheet" href="/css/track.css" />
<button id="go-back-home">Homepage</button>
{{! All properties that can be accessed: }}
{{! albumName, albumArtist, albumId, title, userId }}
{{! comments }}
{{! FOR EACH-------- id, searchedItem, body, type, postId, userId, "user.firstname", "user.lastname", "user.username", "user.password" }}
{{>sidebar}}
<section class="content-section" style="width:80%;">
    <div class="d-flex justify-content-between" style="width:100%;">
        <div style="width: 25%;">
            <div style="position:relative; top: 45%; left: 30%;">
                <div class="text-box">
                    <h1 class="heading-primary">
                        <span class="heading-primary-main">Album</span>
                        <span id="album-name" class="heading-primary-sub">{{albumName}}</span>
                        <span id="album-artist" class="heading-primary-sub">{{albumArtist}}</span>
                    </h1>
                </div>
            </div>
        </div>
        <div style="width: 75%">
            <iframe
                style="border-radius: 5px"
                src="https://open.spotify.com/embed/album/{{albumId}}?utm_source=generator"
                width="100%"
                height="380"
                frameborder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"
            ></iframe>
        </div>
    </div>
    <div id="user-Id-container" style="display:none">
        <h2>User Id:</h2>
        <h2 id="user-Id">{{userId}}</h2>
    </div>
</section>





<h1 style="color: red;">Add a comment about the album!:</h1>
<textarea name="comment" id="comment-box" cols="30" rows="10"></textarea>
<button id="add-album-comment">Add Comment</button>

{{#if comments}}
    <h1>Comment Section:</h1>
    <div class="container justify-content-center mt-5 border-left border-right">
        {{#each comments}}
            <div class="d-flex justify-content-center py-2" id="{{id}}">
                <div class="second py-2 px-2">
                    <span class="text1">{{body}}</span>
                    <div class="d-flex justify-content-between py-1 pt-2">
                        <div><img
                                src="https://i.imgur.com/AgAC1Is.jpg"
                                width="18"
                            /><span class="text2">{{"user.firstname"}}
                                {{"user.lastname"}}</span><span
                                class="text2"
                            >@{{"user.username"}}</span></div>
                        <div><span class="text3">Upvote?</span><span
                                class="thumbup"
                            ><i class="fa fa-thumbs-o-up"></i></span><span
                                class="text4"
                            >3</span></div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}

<link rel="stylesheet" href="/css/comment.css" />

<script src="/js/back-to-home.js"></script>
<script src="/js/comment/add-album-comment-page.js"></script>