<link rel="stylesheet" href="/css/homepage.css" />

{{>sidebar}}
<div id="user-Id-container" style="display:none">
    <h2>User Id:</h2>
    <h2 id="user-Id">{{userId}}</h2>
</div>

<h1 class="saved-text mb-4">Here's Your Playlist <span id="user-name">{{firstName}} {{lastName}}</span>!</h1>

{{#if filteredData}}
    <p class="saved-text">Click On A Song To Listen!</p>
    <p class="saved-text">Click On Any Song Title To Go Directly To the Song!</p>
{{else}}
    <p class="saved-text">You Haven't Added Any Songs To Your Playlist Yet 🙁</p>
    <p class="saved-text">Add Some Songs, Then Come Back Here To View Them!</p>
{{/if}}

<div style="width:80%">
    <iframe
        id="player"

        src="https://open.spotify.com/embed/track/{{trackId}}?utm_source=generator"
        width="100%"
        height="380"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
    ></iframe> 
</div>
{{!-- test --}}
<div class="song-container">
    {{#each filteredData}}
        <div class="bub" style="display: flex; flex-direction: column; align-items: center; padding: 30px;">
            {{!-- image --}}
            <img id="{{trackId}}"
                src="{{trackArt}}"
                height="200px"
                width="200px"
                alt="{{trackName}}"
                class="rounded-circle border border-3 border-info"
            />
            {{!-- text --}}
            <a id="song-info" href="/track/{{trackName}} {{trackArtist}}">
                <p style="width: 170px;">
                    {{trackName}}<br />{{trackArtist}}
                </p>
            </a>
        </div>

        <h1 id="track-id" style="display:none">{{trackId}}</h1>
        <br />
    {{/each}}
</div>

<link rel="stylesheet" href="/css/saved.css">

<script src="/js/back-to-home.js"></script>
<script src="/js/saved.js"></script>