<button id="go-back-home">Homepage</button>

<h1>Your playlist:</h1>
<h1>{{trackName}}</h1>
<h1>{{trackArtist}}</h1>

{{#each filteredData}}
<a href="/track/{{trackName}} {{trackArtist}}">{{trackName}} By: {{trackArtist}}</a>
{{/each}}

{{!-- <iframe
    style="border-radius: 12px"
    src="https://open.spotify.com/embed/track/{{trackId}}?utm_source=generator"
    width="100%"
    height="380"
    frameborder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
></iframe> --}}

<script src="/js/back-to-home.js"></script>