<button id="go-back-home">Homepage</button>

<!-- album -->
<h1>Track:</h1>
<h1 id="track-name">{{trackName}}</h1>
<h1 id="track-artist">{{trackArtist}}</h1>
<iframe
    style="border-radius: 12px"
    src="https://open.spotify.com/embed/track/{{trackId}}?utm_source=generator"
    width="100%"
    height="380"
    frameborder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
></iframe>
<h1>track ID used: {{trackId}}</h1>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
            >
                Lyrics
            </button>
        </h2>
        <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
        >
            <div class="accordion-body">
                <h1>{{trackLyrics}}</h1>
                Lyrics Placeholder
            </div>
        </div>
    </div>
</div>

<h1 style="color: red;">Add a comment about the song!:</h1>
<h2>User Id:</h2>
<h2 id="user-Id">{{userId}}</h2>
<textarea name="comment" id="comment-box" cols="30" rows="10"></textarea>
<button id="add-comment">Add Comment</button>

{{#if comments}}
    <h1>Comment Section:</h1>
    <section class="d-flex flex-column align-items-center">
        {{#each comments}}
            <section
                style="box-shadow: 10px 5px 5px red; outline-style: solid; width: 500px; padding: 20px; border-radius: 10px;"
            >
                {{id}}
                <br />
                {{"user.firstname"}}
                {{"user.lastname"}}
                <br />
                @{{"user.username"}}
                <br />
                {{searchedItem}}
                <br />
                {{body}}
                <br />
                Post ID:
                {{postId}}
                <br />
                User ID:
                {{userId}}
            </section>
            <br />
            <br />
        {{/each}}
    </section>
{{/if}}

{{! test from genius lyrics api }}
<img
    src="https://images.genius.com/3b02f41397586e2b3c8bd3fbbc586928.1000x1000x1.png"
    height="100px"
    width="100px"
    alt="test"
/>

<script src="/js/back-to-home.js"></script>
<script src="/js/add-comment-page.js"></script>